body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-containers {
  background: #e7dede;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  border-radius: 5px;
  width: fit-content;
  height: 300px;
  gap: 10px;
}

.main-containers button {
  background-color: red;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 8px;
  font-family: "Inter";
  font-weight: 500;
  color: white;
  cursor: pointer;
}

#mergeDialogbox {
  display: none;
  flex-direction: column;
  gap: 30px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  position: fixed;
  z-index: 1;
  opacity: 0;
  transform: scale(0.1) translateY(-40px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

#mergeDialogbox[open] {
  display: flex;
}

#mergeDialogbox[open]::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#upload-section-merge button {
  background-color: transparent;
  color: red;
  font-family: "Inter";
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding: 30px;
}

#upload-section-merge button:hover {
  text-decoration: underline;
}

#merge-submit {
  background-color: red;
  color: white;
  font-family: "Inter";
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

#mergeDialogbox.is-visible {
  opacity: 1;
  transform: scale(1) translateY(0) rotate(360deg);
}
