body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hidden {
  display: none;
}

.main-containers {
  background: #e7dede;
  padding: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  border-radius: 5px;
  width: fit-content;
  height: 300px;
  gap: 10px;
}

.loadingApi {
  display: none;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.loadingApi p {
  font-family: "Inter";
}

.loader {
  width: 40px;
  height: 26px;
  --c: no-repeat linear-gradient(#000 0 0);
  background:
    var(--c) 0 100%,
    var(--c) 50% 100%,
    var(--c) 100% 100%;
  background-size: 8px calc(100% - 4px);
  position: relative;
}

.loader:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000;
  left: 0;
  top: 0;
  animation:
    l3-1 1.5s linear infinite alternate,
    l3-2 0.75s cubic-bezier(0, 200, 0.8, 200) infinite;
}
@keyframes l3-1 {
  100% {
    left: calc(100% - 8px);
  }
}
@keyframes l3-2 {
  100% {
    top: -0.1px;
  }
}

.main-containers button {
  background-color: red;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 8px;
  font-family: "Inter";
  font-weight: 500;
  color: white;
  cursor: pointer;
}

#mergeDialogbox {
  display: none;
  flex-direction: column;
  gap: 30px;
  width: 500px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  z-index: 1;
  opacity: 0;
  transform: scale(0.1) translateY(-40px);

  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

#mergeDialogbox[open] {
  display: flex;
}

#mergeDialogbox[open]::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#upload-section-merge {
  position: relative;
  height: 150px;
}

#upload-section-merge button {
  background-color: transparent;
  color: red;
  font-family: "Inter";
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#upload-section-merge button:hover {
  text-decoration: underline;
}

#merge-submit {
  background-color: red;
  color: white;
  font-family: "Inter";
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

#mergeDialogbox.is-visible {
  opacity: 1;
  transform: scale(1) translateY(0) rotate(360deg);
}

.total_files {
  display: flex;
  gap: 5px;
}

.files {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
}

.files:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
