#splitDialogbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.idk {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.idk input {
  padding: 5px;
  font-size: 14px;
  font-family: "Inter";
  outline: none;
}

.split-file-upload-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px dashed red;
}

.split-file-upload-section button {
  font-family: "Inter";
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
}

.split-file-upload-section button:hover {
  text-decoration: underline;
}

.split-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.split-submit button {
  color: white;
  background-color: red;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-family: "Inter";
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.split-submit button:hover {
  background-color: rgb(212, 66, 66);
}
